.form-login-container{
    height: 100vh;
     display: flex;
    justify-content: center;
    align-items: center;
}

.text-field-containers{
    display: grid;
    grid-gap: 4rem;
    width: 70%;
}

#submit-btn{
    border: 1px solid #000000;
    color: #472D5B;
    &:hover{
        background-color: #472d5b36;
    }
}

.submit-btn{
    display: grid;
    grid-gap: 0.7rem;
}

.error-msg{
    color: purple;
}