.form-login-container{
    height: 80vh;
     display: flex;
    justify-content: center;
    align-items: center;
}

.text-field-containers{
    display: grid;
    grid-gap: 2rem;
    width: 30%;
}

#submit-btn{
    border: 1px solid #472D5B;
    color: #472D5B;
    &:hover{
        background-color: #472d5b36;
    }
}