.stepper {
	width: 90%;
	margin-bottom: 1rem;
}

.add-member-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-gap: 2rem;
	margin: 0 7%;
	margin-top: 10rem;
}

.forms-container {
	width: 20%;
}
