.box-test {
	width: 100%;
	height: 18rem;
	border: 1px solid black;
}

.dashboard-container {
	padding-top: 6rem;
	width: 90%;
	margin: 0 7%;
	display: grid;
	grid-gap: 2rem;
}

.second {
	display: grid;
	padding-top: 2rem;
	grid-template-columns: 2fr 1fr;
	grid-gap: 3rem;
}

.carrying-capacity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3{
        padding-left: 1rem;
    }
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2rem;
}
