#paper{
    height: 10vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-evenly;
}

.buttons{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20%;
}

.column{
    
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}