.form-login-container{
    height: 100vh;
     display: flex;
    justify-content: center;
    align-items: center;
}

.text-field-containers{
    display: grid;
    grid-gap: 2.5rem;
    width: 30%;
}

#submit-btn{
    border: 1px solid #000000;
    color: #472D5B;
    &:hover{
        background-color: #472d5b36;
    }
}

.submit-btn{
    display: grid;
    grid-gap: 0.7rem;
}

.error-msg{
    color: purple;
}

.form-container {
    margin-top: 9rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

#submit-btn {
	border: 1px solid #472d5b;
	color: #472d5b;
	&:hover {
		background-color: #472d5b36;
	}
}

.register-btn {
	display: grid;
	grid-gap: 0.7rem;
	color: purple;
}
