.form-container{
    height: 100vh;
     display: flex;
    justify-content: center;
    align-items: center;
}

.text-field-containers{
    display: grid;
    grid-gap: 3rem;
    width: 30%;
}


#submit-btn{
    border: 1px solid #472D5B;
    color: #472D5B;
    &:hover{
        background-color: #472d5b36;
    }
}

.register-btn{
    display: grid;
    grid-gap: 0.7rem;
    color: purple;

}

.name-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}