@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

#app-bar{
    background-color: #472D5B;
}

#nav-links {
	width: 100%;
	display: flex;
    justify-content: end;
    color: white;
}

.nav-link{
    color: white;
    text-decoration: none;
}

#icon{
    font-family: 'Great Vibes', cursive;
}