
.multi-form-container{
}


.input-with-label{
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    text-align: start;
}

.text-fields-container-multiform{
    display: grid;
    grid-gap: 4rem;
}