.edit-form-container{
    height: 80vh;
     display: flex;
    justify-content: center;
    align-items: center;
}

.text-fields-container{
    display: grid;
    grid-gap: 3rem;
    width: 40%;
}

#submit-btn{
    border: 1px solid #472D5B;
    color: #472D5B;
    &:hover{
        background-color: #472d5b36;
    }
}

.select-role{
    display: flex;
    flex-direction: column;
    width: 100%;
}